nav {
    background: black;
    width: 100%;
}

.nav-link {
    color: white;
    transition: all 0.4s;
    font-weight: bolder;
    font-style: italic;
}

.nav-link:hover {
    color: palevioletred;
}
 
/* .navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent; 
     border: 1px solid transparent;
    border-radius: .25rem;
} */
