:root {
    --mainDark: #343a40;
    --mainBlack: #000000;
    --mainWhite: #ffffff;
    --mainLightGrey: rgba(172, 172, 172);
    --mainGrey: rgba(109, 109, 109);
    --mainBlue: #007bff;
    --mainRed: #ff1100;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-toggler {
    border: none;
}


.home-img {
    width: 100%;
    background-color: #343a40;
    margin-top: -100px;
}

.sneak-peak {
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
}

@media(max-width: 760px) {
   .home-img {
       height: 300px;
   }
   .row {
       width: 300px;
   }
}